@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../font/MaterialIcons-Regular.woff2) format('woff2'),
       url(../font/MaterialIcons-Regular.woff) format('woff'),
       url(../font/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
../font/
section
{
	min-height: 24.1em;
}
body 
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main
{
    flex: 1 0 auto;
}
footer
{
	text-align: center;
}
ul li a
{
	transition: all 0.4s ease-out 0s;
}
ul li a:hover
{
	border-bottom: 4px solid #212121;
}    

.super_large
{
	border-radius: 30%;
	font-size: 13em;
	background: black ;
	color: white;
}
.super_large:hover
{
	font-size: 13em;
	background: white ;
	color: black;
}