<div>
<footer id="contact" class="page-footer default_color scrollspy  grey lighten-1">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
              
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">efas.com</h5>
                <ul>
                    <li><a class="white-text" href="http://www.joashpereira.com/">Home</a></li>
                    <li><a class="white-text" href="http://www.joashpereira.com/blog">Blog</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social</h5>
                <ul>
                    <li>
                        <a class="white-text" >
                            <i class="small fa fa-behance-square white-text"></i> Tel: (726) 262 3411.  Cel: (722) 168 9267

                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="https://www.facebook.com/EFAS/2015">
                            <i class=""></i> Facebook 
                        </a>
                    </li>
                    <li>
                        <a class="white-text" href="">
                            <i class="small fa fa-github-square white-text material-icons right"></i> Correo Electronico: fabiangerardo.on@gmail.com
                        </a>
                    </li>
                    <li>
                        <a class="white-text" >
                            <i class="small fa fa-linkedin-square white-text "></i> Direccion:oficina, carretera  simulador el Arco S/N CP. 51200 a 100 metros de la desviacion, Valle de Bravo , Estado de Mexico, Mexico.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
   
</footer>

</div>


</body>
</html>