




    <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">CONTACTO</h5>
                    <ul>
                        <li><a >ING. FABIAN GERARDO MOYA GARCIA</a></li>
                        <li><a >TEL. (726) 262 3411 </a></li>
                        <li><a >CEL. (722) 168 926</a></li>
                        <li><a >CORREO ELECTRONICO fabiangerardo.on@gmail.com</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">DIRECCION</h5> 
                     <h6 class="title">OFICINA</h6>
                    <ul>

                   
                        <li><a >Carretera  simulador el Arco S/N CP. 51200 a 100 metros de la desviacion, Valle de Bravo , Estado de Mexico, Mexico.</a></li>
            
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">RED SOCIAL</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/efas.valledebravo">Facebook</a></li>
                        
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: ZEUS

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    
    <script>
    new WOW().init();
    </script>

</body>

</html>